@model CalssManagement.Models.SubjectGrade

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubjectGrade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grade.GradeNamne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade.GradeNamne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subjects.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subjects.SubjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubjectGradeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
